*{
    margin: 0;
    padding: 0;
}

.container{
    width: 334px;
    height: 1344px;
    color: white;
    border: 2px solid red;
    background-image: url('img.png');
    background-repeat: no-repeat;
    background-size: 633px 455px;
    background-position: center top;
    background-attachment: fixed;
    /* background-attachment: local; */
    /* background-attachment: scroll; */
}